.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
}

.chartContainer {
    z-index: 0;
    overflow: visible;
    position:absolute;
}


.dateSelectorContainer {
    z-index: 1;
}