#areaChartScrubberContent {
  position: absolute;
  left: 50px;
  top: -35px;
  width: 165px;
  height: 125px;
  line-height: 1.4;
  background-color: #aaa79a;
  color: #fff;
  padding: 0.5em;
  border-radius: .3em;
  -webkit-box-shadow: 10px 10px 16px -6px rgba(170, 167, 154, .79);
  box-shadow: 10px 10px 16px -6px rgba(170, 167, 154, .79);
}

.tooltip-flex-container {
  display: grid;
  grid-template-columns: 10px 100px 40px;
}

.legend-tooltip-graphic {
  height: 10px;
  width: 10px;
  margin-top: .2em;
}

.legend-tooltip-label {
  padding-left: .5em;
}

.legend-tooltip-value {
  text-align: right;
}
