#areaChartScrubberContentDate {
  text-align: center;
  padding-top: .25em;
}

.modal-legend-graphic {
  width: .75rem;
  height: .75rem;
  margin: 0 .5rem;
}

.abnormally-dry {
  background: #eee1b4;
}

.moderate-drought {
  background: #ecd092;
}

.severe-drought {
  background: #eaa771;
}

.extreme-drought {
  background: #dc6f4d;
}

.exceptional-drought {
  background: #aa3332;
}
