:root {
    --exceptionalColor: rgba(87, 10, 60, 1);
    --extremeColor: rgba(152, 41, 67, 1);
    --severeColor: rgba(224, 82, 44, 1);
    --moderateColor: rgba(254, 162, 90, 1);
    --abnormalColor: rgba(149, 134, 74, 1);
    --noDroughtColor: #989998;
    /* --exceptionalColor: #893f4e;
    --extremeColor:     #b33f46;
    --severeColor:      #ff6838;
    --moderateColor:    #ff8f3a;
    --abnormalColor:    #95864a;
    --noDroughtColor:   #989998; */
}

/* .pointerCursor {
    cursor: pointer;
} */

.selectAnAreaMessageDiv {
    width: 95%;
    height: 95%;
    background-color: rgba(0, 0, 0, .2);
    font-style: italic;
}


.disabledButton {
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 6px 0px #000000;
    border: 1px solid #444444;
    color: #838383;
    background-color: #1a1b1d;
    pointer-events: none;
    cursor: not-allowed;
    /* width: 110px; */
}

.nonSelectedButton {
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
    color: #DDDDDD;
    box-shadow: 0px 0px 6px 0px #000000;
    border: 1px solid #444444;
    background-color: rgba(42, 45, 48, 1);
}

.selectedButton {
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: inset 0 0 4px #000000;
    border: 1px solid #444444;
    border-radius: 3px;
    color: #333333;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, .8) 0%, rgba(153, 153, 153, .8) 100%);
}

.exceptionalDroughtColor {
    background-color: var(--exceptionalColor);
}

.extremeDroughtColor {
    background-color: var(--extremeColor);
}

.severeDroughtColor {
    background-color: var(--severeColor);
}

.moderateDroughtColor {
    background-color: var(--moderateColor);
}

.abnormalDroughtColor {
    background-color: var(--abnormalColor);
}

.anyDroughtDroughtColor {
    color: #989998;
}